<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="skeleton.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <meta charset="utf-8">
    <title>BardShark</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="bodyText">Coming soon...
        </div>
      </div>
      <div class="row">
        <div class="slogan">
          <img class="logo" src="antematterLogo.png">
        </div>
      </div>
      <div id="blurb" class="row bodyText">
        Enter your information and we'll notify you when cool Antematter stuff is happening!
      </div>
      <div id="subForm" class="row bodyText">
        <div>
          <form action="/users" method="post">
            <label for="name">Name</label>
            <input type="text" name="name">
            <label for="email">Email address</label>
            <input type="text" name="email">
        </div>
        <div>
            <input type="submit" value="Register">
        </div>
          </form>
      </div>
      <div id="socialMediaButtons" class="row">
        <a href="https://www.facebook.com/BardShark/"><img src="facebook.png"></a>
        <a href="https://www.instagram.com/bardshark/"><img src="insta.png"></a>
        <a href="https://twitter.com/bardsharkgames"><img src="twitter.png"></a>
      </div>
    </div>
  </body>
</html>
