<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div>
      This is the place for the logging in.
    </div>
    <div>
      <form>
      </form>
    </div>
  </body>
</html>
